#GDratings {
	display:inline-block;
	margin:0 0 0 2em;
	position:relative;
	top:-10px;
}

#GDratings .spinner {
	display:inline-block;
	position:absolute;
	left:1.5em;
	top:0;
}

#GDratings img {
	margin-right: 5px;
}

#GDlink, #GDratingsText {
	display:inline-block;
	vertical-align:middle;
}